@using MyHybridApp.Shared.Services
@using MyHybridApp.Shared.Models
@using MyHybridApp.Shared.Components
@page "/monkeys"
@inject IMonkeyService MonkeyService
@inject NavigationManager NavigationManager

<h1>Monkey Finder</h1>

<OfflineAlert RefreshCallback="RefreshHandler" />

@if (monkeys == null)
{
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var monkey in monkeys)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@monkey.Image" class="card-img-top" alt="@monkey.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@monkey.Name</h5>
                    </div>
                    <a href="/details/@monkey.Name" class="stretched-link"></a>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Monkey>? monkeys;

    protected override async Task OnInitializedAsync()
    {
        monkeys = await MonkeyService.GetMonkeysAsync();
    }
    async Task RefreshHandler()
    {
        monkeys = await MonkeyService.GetMonkeysAsync(); //try to get the monkeys again
        NavigationManager.NavigateTo("/monkeys", true); //reload the page
    }
}